<h1>welcom to <!--todo aikonn --><strong>Bookers</strong>  !!</h1>
 <p>In  <i class="fa-solid fa-book"></i><strong>Bookers</strong>, </p>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
          <%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-dark' %>

